#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

h1 {
  color: white;
}

.navbar {
  background-color: transparent !important;
}

.navbar-horizontal .navbar-nav {
  flex-direction: row;
}

.navbar-horizontal .nav-link {
  padding-right: 20px;
  padding-left: 20px;
}

.search-bar {
  width: 300px;
  margin-bottom: 20px;
  justify-content: flex-left;
}

.btn {
  width: 100px;
  margin-bottom: 20px;
  justify-content: flex-left;
}

.search-engine {
  padding-left: 350px;
}
